#loading {
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

#loading div {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 40vh;
    font-size: 1.6em;
}

.private {
    display: none;
}